.chartsContainer {
  display: flex;
  justify-content: space-between;
}

.navChartContainer {
  flex: 0.5;
}

.chartsWrapper {
  flex: 9.5;
  padding-right: 1rem;
}

.menuContainer {
  flex: 2;
}
@media only screen and (max-width: 1200px) {
  .chartsContainer {
    flex-wrap: wrap;
  }

  .navChartContainer {
    order: 1;
  }

  .chartsWrapper {
    order: 3;
    width: 65vw;
  }

  .menuContainer {
    order: 2;
  }
}

/* Styles for mobile */
@media only screen and (max-width: 480px) {
  .chartsContainer {
    flex-direction: column;
  }

  .navChartContainer,
  .chartsWrapper,
  .menuContainer {
    order: initial;
    flex: auto;
  }
  .chartsWrapper {
    order: 3;
    width: auto;
  }
}
