.accordion {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.accordion-item {
  border: 1px solid #ddd;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  background-color: #fa91914a;
  font-weight: bold;
  text-shadow: 0px 0px 12px white;
}

.accordion-header.active {
  background-color: #d9030366;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-content.active {
  display: block;
}
@media only screen and (max-width: 1200px) {
  .accordion {
    width: 30vw;
  }
}
@media only screen and (max-width: 768px) {
  .accordion {
    width: auto;
  }
}
