.header {
  display: flex;
  align-items: center;
  min-height: 40px;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}

.logoContainer {
  margin-right: 20px;
  flex: 1;
}
.logo {
  height: 40px;
  width: auto;
  padding-left: 1rem;
}

.description {
  text-align: center;
  flex: 2;
}
.appName {
  font-size: 24px;
  margin: 0;
  color: #333;
}
.appDescription {
  font-size: 14px;
  margin: 0;
  color: #777;
}

.navigationContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}
.navigationContainer a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 1rem;
  min-width: 7rem;
}
.navigationContainer a:hover {
  transform: scale(1.2);
  filter: drop-shadow(5px 10px 10px #959595);
  color: inherit;
}
.navigationLinksIcon {
  width: auto;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transition: margin-left 0.2s ease-out;
}
.navigationLinksIcon:hover {
  margin-left: 0.5rem;
  transform: scale(1.2);
  filter: drop-shadow(5px 10px 10px #959595);
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .navigationLinksIcon {
    width: auto;
    height: 50px;
  }
  .logoContainer {
    order: 1;
  }
  .navigationContainer {
    order: 2;
  }
  .description {
    order: 3;
  }
}
