.tableSection {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.table {
  position: relative;
  box-shadow: rgba(60, 64, 67, 07) 0px 1px 2px 0px,
    rgba(60, 64, 67, 1) 0px 1px 3px 1px;
}

.columnHeaderContent {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  max-inline-size: 130px;
  border: none;
  background-color: inherit;
  padding: 0rem 0rem;
}
.columnName {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}

td {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sortMenuBtn {
  width: 100%;
  background-color: transparent;
  margin: 0.3rem 0rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2px solid #666;
}
.sortMenuBtn:focus {
  background-color: #dae2fa;
}
.sortMenuBtn:hover {
  background-color: #e8edfa;
}
.tableInput {
  width: 100%;
  outline: none;
  padding: .3rem;
}
.sortMenuContent {
  font-size: 1rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination > li > a,
.pagination > li > span {
  color: #666;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #f1f1f1;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #666666;
  color: #fff;
  border-color: #323232;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ccc;
  cursor: not-allowed;
  background-color: transparent;
  border-color: #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-right: 10px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-left: 10px;
}
