.tableSection {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 03) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.table {
  position: relative;
  /* move the table up by 30 pixels */
}

.columnHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.columnBtn {
  cursor: pointer;
}

.columnName {
  max-inline-size: 130px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}
td {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu input{
  width: 130px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination > li > a,
.pagination > li > span {
  color: #666;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #f1f1f1;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #666666;
  color: #fff;
  border-color: #323232;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ccc;
  cursor: not-allowed;
  background-color: transparent;
  border-color: #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-right: 10px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-left: 10px;
}
